* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100%; }

body {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

header,
footer,
h1, h2, h3, h4, h5, h6 {
  font-family: "Overpass Mono", "Consolas", monospace; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.5rem; }

p {
  line-height: 1.8rem; }

code {
  background: #111;
  color: #eee;
  padding: 0.2rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem; }

a, a:visited {
  text-decoration: underline;
  color: inherit; }

header, footer {
  background: #111;
  color: #eee;
  padding: 0.5rem; }

header {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .site-title {
    font-size: 2rem;
    text-decoration: none; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      list-style-type: none;
      padding: 0.5rem; }

main {
  margin: 2rem auto;
  max-width: 800px;
  width: 90vw;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto; }

article {
  margin-bottom: 3rem; }
  article h1 {
    margin-bottom: 0; }
  article time {
    display: block;
    font-size: 0.875rem;
    font-family: "Overpass Mono", "Consolas", monospace;
    margin-bottom: 0.25rem; }
  article .single-content {
    margin-top: 2rem; }

.content-tag, a.content-tag {
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: normal;
  text-decoration: none;
  background: #111;
  color: #eee;
  padding: 0.25rem 0.4rem;
  font-size: 0.75rem; }

footer {
  font-size: 0.8rem;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
