<!doctype html>
<html lang="en">
  <head>
    <title>rm</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <%- css(['https://fonts.googleapis.com/css?family=Open+Sans:100,400,700']) %>
    <%- css(['main.css']) %>
  </head>
  <body>
    <header>
      <div class="name"><a href="/">reid mitchell</a></div>
      <nav>
        <a class="nav-link" href="#">about</a>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>

    <footer>
      &copy; 2017 Reid Mitchell
    </footer>

    <%- js(['//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js']) %>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>