html
    head
        title Hello, world
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,700')
        link(rel='stylesheet', href='main.css')
    body
        header
            .name reid mitchell
            nav
                a.nav-link(href='#') about
                a.nav-link(href='#') contact
        main
            section
                h1.section-title Section title
                .section-content.
                    This is the section content