extends templates/base.pug

block main
    each post in posts
        section
            .section-banner: span= post.date
            .section-content
                h1.post-preview= post.title

    //- each i in [1,2,3,4,5]
    //-     section
    //-         .section-title: span December 23, 1993
    //-         .section-content
    //-             p This is the section content
    //-             p This is the section content
    //-             p This is the section content
    //-             p This is the section content