{{ define "main" }}

<h1>Projects</h1>

<p>
  A bunch of the projects I've worked on over the years. They span several
  different media (code, film, design) and were made in several different contexts (for fun, for school, for work).
</p>
<p>
  Although I'm proud of these projects, I feel the most interesting things about many of them are the mistakes I
  made and the lessons I learned while working on them. Those are what I hope to highlight
  here.
</p>

{{ range .Pages }}
  {{ .Render "summary" }}
{{ end }}

{{ end }}
