// Colors
$white1: #fafafa;
$blue1: #223344;
$gray1: #667483;
$black: #000000;

// Sizes
$breakpoint: 500px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: $white1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    line-height: 50px;
    margin: 0;
    background: $blue1;
    color: $white1;

    .header-img {
        background-color: $gray1;
        background-image: url(top.png);
        height: 70px;
        width: 100%;
    }

    .nav-name {
        height: 50px;
        font-size: 36px;
        font-weight: 700;
        line-height: 55px;
        margin-left: 16px;
    }

    nav {
        float: right;
        margin-right: 16px;

        a, a:link {
            text-decoration: none;
            padding: 5px 8px;
            color: $white1;
        }

        a + a {
            margin-left: 2px;
        }

        a:hover, a:active {
          color: $blue1;
          background: $white1;
        }
    }

    @media screen and (max-width: $breakpoint) {
        text-align: center;
        height: 90px;

        .header-img {
            display: none;
        }

        .nav-name {
            display: block;
            margin: 0 auto;
            line-height: 65px;
        }

        nav {
            float: none;
            margin: 0;
        }
    }
}

main {
    padding: 16px;
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: 800px;
    flex: 1;

    @media screen and (max-width: $breakpoint) {
        margin-top: 80px;
    }
}

p {
    font-size: 18px;
    line-height: 1.6em;
}

footer {
    height: 32px;
    background: $blue1;
    color: $white1;
    padding: 10px 16px;
    font-size: 10px;
    text-align: right;

    a {
        color: $white1;
    }
}

section.home-section {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid $blue1;
    padding: 24px 16px 16px 16px;

    h1 {
        position: absolute;;
        top: -28px;
        height: 30px;
        font-size: 14px;
        border: 1px solid $blue1;
        background: $blue1;
        color: $white1;
        display: inline-block;
        padding: 5px;
        font-weight: normal;
    }

    article {
        margin: 0;

        h2 {
            margin: 0;
        }

        h2 > a {
            color: $black;
            text-decoration: none;
        }

        h2 > a:hover {
            text-decoration: underline;
        }

        p {
            margin: 5px 0;
        }

        .date {
            color: $gray1;
        }

        ul.tags {
            list-style-type: none;
            padding: 0;
            margin: 4px 0 0 0;

            li {
                display: inline-block;
                background: $gray1;
                color: $white1;
                padding: 3px 5px;
                font-size: 12px;
            }
        }
    }

    article + article {
        margin-top: 20px;
    }
}
