{{ partial "top.html" . }}
{{ partial "header.html" . }}
  <div class="main-wrapper">
  	<main>
  		<article>
  			<h1>{{ .Title }}</h1>
        {{ if ne .Type "pages" }}
          <time class="time">{{ .Params.dateString | default (.Date.Format "January 2, 2006") }}</time>
          {{ range .Params.tags }}
          <a class="content-tag"
            href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
            title="Tag: {{ . }}">{{ . }}</a>
          {{ end }}
        {{ end }}
  			<div class="single-content">
  				{{ .Content }}
  			</div>
  			<div>
        {{ if eq .Type "post" }}
  				{{ template "_internal/disqus.html" . }}
        {{ end }}
  			</div>
  		</article>
  	</main>
  </div>
{{ partial "bottom.html" . }}
