{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
      {{ if ne .Type "pages" }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ range .Params.tags }}
        <a class="content-tag"
          href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
          title="Tag: {{ . }}"><span class="fa fa-tag" aria-hidden="true"></span>{{ . }}</a>
        {{ end }}
      {{ end }}
			<div class="single-content">
				{{ .Content }}
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}
