@import './variables.scss';

#home-video-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 52px;
  bottom: 0;
  background: url('images/window.jpg');
  background-size: cover;
  background-position: center;
}

#home-video {
  position: fixed;
  top: 52px;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, 0);
}

@media (max-width: 700px)  {
  #home-video {
      display: none;
  }
}