* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}

.name {
    font-size: 60px;
    padding: 0px 30px 0px 0px;
    color: #2D2D38;
    font-style: italic;
    font-family: 'Radley', serif;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -40px;
    margin-right: 25px;
    width: 362px;
    border-top: 3px solid #889;
    border-bottom: 3px solid #889;
}

.info {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #2D2D38;
    padding: 14px 0px 14px 30px;
    font-size: 18px;
    font-weight: 100;
    border-top: 3px solid #889;
    border-bottom: 3px solid #889;
    position: absolute;
    width: 362px;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    .anim-circle {
        margin-top: -130px !important;
    }
    .name {
        font-size: 48px;
        width: 266px;
        text-align: center;
        padding: 0px;
        margin-right: -133px;
        margin-top: -10px;
        border-top: none;
    }
    .info {
        width: 266px;
        margin-left: -133px;
        margin-top: 60px;
        padding: 0;
        text-align: center;
        border-top: none;
        border-bottom: none;
    }
}


/* HOME ANIMATION */

.anim-circle {
    background: #2D2D38;
    width: 88px;
    height: 112px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -44px;
    top: 50%;
    margin-top: -56px;
}

.anim {
    width: 48px;
    height: 74px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -37px;
}

.ball {
    width: 4px;
    height: 4px;
    margin: 2px auto;
    border-radius: 50%;
}

.anim1 .ball {
    background: #289b78;
}

.anim2 .ball {
    background: #28789b;
}

.anim1 .ball:nth-child(1) {
    -webkit-animation: right 3.2s ease-in-out 0s infinite;
    -moz-animation: right 3.2s ease-in-out 0s infinite;
    animation: right 3.2s ease-in-out 0s infinite;
}

.anim2 .ball:nth-child(1) {
    -webkit-animation: left 3.2s ease-in-out 0s infinite;
    -moz-animation: left 3.2s ease-in-out 0s infinite;
    animation: left 3.2s ease-in-out 0s infinite;
}

.anim1 .ball:nth-child(2) {
    -webkit-animation: right 3.2s ease-in-out -0.2s infinite;
    -moz-animation: right 3.2s ease-in-out -0.2s infinite;
    animation: right 3.2s ease-in-out -0.2s infinite;
}

.anim2 .ball:nth-child(2) {
    -webkit-animation: left 3.2s ease-in-out -0.2s infinite;
    -moz-animation: left 3.2s ease-in-out -0.2s infinite;
    animation: left 3.2s ease-in-out -0.2s infinite;
}

.anim1 .ball:nth-child(3) {
    -webkit-animation: right 3.2s ease-in-out -0.4s infinite;
    -moz-animation: right 3.2s ease-in-out -0.4s infinite;
    animation: right 3.2s ease-in-out -0.4s infinite;
}

.anim2 .ball:nth-child(3) {
    -webkit-animation: left 3.2s ease-in-out -0.4s infinite;
    -moz-animation: left 3.2s ease-in-out -0.4s infinite;
    animation: left 3.2s ease-in-out -0.4s infinite;
}

.anim1 .ball:nth-child(4) {
    -webkit-animation: right 3.2s ease-in-out -0.6s infinite;
    -moz-animation: right 3.2s ease-in-out -0.6s infinite;
    animation: right 3.2s ease-in-out -0.6s infinite;
}

.anim2 .ball:nth-child(4) {
    -webkit-animation: left 3.2s ease-in-out -0.6s infinite;
    -moz-animation: left 3.2s ease-in-out -0.6s infinite;
    animation: left 3.2s ease-in-out -0.6s infinite;
}

.anim1 .ball:nth-child(5) {
    -webkit-animation: right 3.2s ease-in-out -0.8s infinite;
    -moz-animation: right 3.2s ease-in-out -0.8s infinite;
    animation: right 3.2s ease-in-out -0.8s infinite;
}

.anim2 .ball:nth-child(5) {
    -webkit-animation: left 3.2s ease-in-out -0.8s infinite;
    -moz-animation: left 3.2s ease-in-out -0.8s infinite;
    animation: left 3.2s ease-in-out -0.8s infinite;
}

.anim1 .ball:nth-child(6) {
    -webkit-animation: right 3.2s ease-in-out -1s infinite;
    -moz-animation: right 3.2s ease-in-out -1s infinite;
    animation: right 3.2s ease-in-out -1s infinite;
}

.anim2 .ball:nth-child(6) {
    -webkit-animation: left 3.2s ease-in-out -1s infinite;
    -moz-animation: left 3.2s ease-in-out -1s infinite;
    animation: left 3.2s ease-in-out -1s infinite;
}

.anim1 .ball:nth-child(7) {
    -webkit-animation: right 3.2s ease-in-out -1.2s infinite;
    -moz-animation: right 3.2s ease-in-out -1.2s infinite;
    animation: right 3.2s ease-in-out -1.2s infinite;
}

.anim2 .ball:nth-child(7) {
    -webkit-animation: left 3.2s ease-in-out -1.2s infinite;
    -moz-animation: left 3.2s ease-in-out -1.2s infinite;
    animation: left 3.2s ease-in-out -1.2s infinite;
}

.anim1 .ball:nth-child(8) {
    -webkit-animation: right 3.2s ease-in-out -1.4s infinite;
    -moz-animation: right 3.2s ease-in-out -1.4s infinite;
    animation: right 3.2s ease-in-out -1.4s infinite;
}

.anim2 .ball:nth-child(8) {
    -webkit-animation: left 3.2s ease-in-out -1.4s infinite;
    -moz-animation: left 3.2s ease-in-out -1.4s infinite;
    animation: left 3.2s ease-in-out -1.4s infinite;
}

.anim2 .ball:nth-child(9) {
    -webkit-animation: right 3.2s ease-in-out 0s infinite;
    -moz-animation: right 3.2s ease-in-out 0s infinite;
    animation: right 3.2s ease-in-out 0s infinite;
}

.anim1 .ball:nth-child(9) {
    -webkit-animation: left 3.2s ease-in-out 0s infinite;
    -moz-animation: left 3.2s ease-in-out 0s infinite;
    animation: left 3.2s ease-in-out 0s infinite;
}

.anim2 .ball:nth-child(10) {
    -webkit-animation: right 3.2s ease-in-out -0.2s infinite;
    -moz-animation: right 3.2s ease-in-out -0.2s infinite;
    animation: right 3.2s ease-in-out -0.2s infinite;
}

.anim1 .ball:nth-child(10) {
    -webkit-animation: left 3.2s ease-in-out -0.2s infinite;
    -moz-animation: left 3.2s ease-in-out -0.2s infinite;
    animation: left 3.2s ease-in-out -0.2s infinite;
}

.anim2 .ball:nth-child(11) {
    -webkit-animation: right 3.2s ease-in-out -0.4s infinite;
    -moz-animation: right 3.2s ease-in-out -0.4s infinite;
    animation: right 3.2s ease-in-out -0.4s infinite;
}

.anim1 .ball:nth-child(11) {
    -webkit-animation: left 3.2s ease-in-out -0.4s infinite;
    -moz-animation: left 3.2s ease-in-out -0.4s infinite;
    animation: left 3.2s ease-in-out -0.4s infinite;
}

.anim2 .ball:nth-child(12) {
    -webkit-animation: right 3.2s ease-in-out -0.6s infinite;
    -moz-animation: right 3.2s ease-in-out -0.6s infinite;
    animation: right 3.2s ease-in-out -0.6s infinite;
}

.anim1 .ball:nth-child(12) {
    -webkit-animation: left 3.2s ease-in-out -0.6s infinite;
    -moz-animation: left 3.2s ease-in-out -0.6s infinite;
    animation: left 3.2s ease-in-out -0.6s infinite;
}

@-webkit-keyframes right {
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(-12px);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateX(12px);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
        -webkit-transform: translateX(-12px);
    }
}
@-webkit-keyframes left {
    0% {
        opacity: 0.5;
        -webkit-transform: translateX(12px);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateX(-12px);
    }
    75% {
      opacity: 1;
    }
    100% {
        opacity: 0.5;
        -webkit-transform: translateX(12px);
    }
}

@-moz-keyframes right {
    0% {
        opacity: 0.5;
        -moz-transform: translateX(-12px);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        -moz-transform: translateX(12px);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
        -moz-transform: translateX(-12px);
    }
}
@-moz-keyframes left {
    0% {
        opacity: 0.5;
        -moz-transform: translateX(12px);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        -moz-transform: translateX(-12px);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        -moz-transform: translateX(12px);
    }
}

@keyframes right {
    0% {
        opacity: 0.5;
        transform: translateX(-12px);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        transform: translateX(12px);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
        transform: translateX(-12px);
    }
}
@keyframes left {
    0% {
        opacity: 0.5;
        transform: translateX(12px);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        transform: translateX(-12px);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateX(12px);
    }
}