@import './variables.scss';
@import './code.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  //   Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $color-light;
}

h1 {
  font-size: 2rem;
}

a,
a:visited {
  color: $color-dark;
  text-decoration: none;
  border-bottom: 2px solid $color-accent;

  &:hover,
  &:focus {
    background-color: transparentize($color-accent, 0.8);
  }
}

nav {
  width: 100%;
  padding: ($base-unit * 2) ($base-unit);
  background: $color-dark;
  color: $color-light;
  display: flex;

  h1 {
    text-transform: lowercase;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }

  a,
  a:visited {
    color: $color-light;
    text-decoration: none;
    border: 0;
    padding: $base-unit;
    border-radius: $base-unit / 4;

    &:hover,
    &:focus {
      background: $color-accent;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    font-size: 1rem;
    display: inline-block;
  }
}

.flex-spacer {
  flex-grow: 1;
}

.main-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

main {
  max-width: 800px;
  padding: $base-unit * 2;
  margin: 0 auto ($base-unit * 3) auto;
}

section {
  > h2 {
    margin: 0;
    font-size: 1.8rem;
    padding-bottom: $base-unit;
  }
}

section + section {
  margin-top: $base-unit * 4;
}

article {
  blockquote {
    border-left: $base-unit/2 solid $color-accent;
    margin-left: 0;
    padding-left: $base-unit * 2;
  }
}

p {
  line-height: 1.8rem;
  font-size: 1.2rem;
}

img {
  width: 100%;
}

.summary {
  display: flex;
  padding: $base-unit ($base-unit/2);
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

  a {
    text-decoration: none;
  }

  ul {
    float: right;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    text-align: right;
  }

  li {
    display: inline-block;

    + li {
      margin-left: $base-unit;
    }
  }
}

.tag {
  list-style-type: none;
  font-weight: normal;

  &::before {
    content: '#';
    opacity: 0.5;
  }
}
