{{ define "main" }}

<p>Hi, I'm Reid! 👋</p>

<p>
  I’m a software engineer, writer, and filmmaker based in San Francisco. I’m passionate about education, accessibility,
  and building experiences that make people's lives a little easier or a little more fun. My pronouns are he/him/his.
</p>

<p>
  These days, I’m especially interested in front-end web development (JavaScript, React, etc), building accessible user
  interfaces, and programming language design (compiler-writing, type-checking, etc).
</p>

<p>
  If you'd like to chat about anything I've worked on, or if you just want to say hello, feel free to reach out on
  <a href="https://twitter.com/reidmit">Twitter</a> or <a href="https://linkedin.com/in/reidmit">LinkedIn</a>!
</p>

{{ end }}
