* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100vh; }

body {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fbffff; }
  @media screen and (max-width: 800px) {
    body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.5rem; }

p {
  line-height: 1.8rem; }

code {
  background: #005050;
  color: #fff;
  padding: 0.2rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem; }

a, a:visited {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  color: inherit; }

.sidebar {
  background: #005050;
  color: #fbffff;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px; }
  .sidebar .sidebar-header {
    padding: 1rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-size: 2rem;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .sidebar .site-title {
    text-decoration: none;
    color: #fbffff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100px; }
    @media screen and (max-width: 800px) {
      .sidebar .site-title {
        width: initial; } }
  .sidebar .site-title-spacer {
    display: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media screen and (max-width: 800px) {
      .sidebar .site-title-spacer {
        display: initial; } }
  .sidebar .mobile-menu-button {
    background: transparent;
    padding: 0;
    color: #fbffff;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: none;
    width: 2rem;
    height: 2rem; }
    @media screen and (max-width: 800px) {
      .sidebar .mobile-menu-button {
        display: initial; } }
    .sidebar .mobile-menu-button .mobile-menu-button-line {
      background: #fbffff;
      width: 2rem;
      height: 0.25rem; }
      .sidebar .mobile-menu-button .mobile-menu-button-line + .mobile-menu-button-line {
        margin-top: 0.25rem; }
  .sidebar nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media screen and (max-width: 800px) {
      .sidebar nav {
        display: none; } }
    .sidebar nav.is-shown {
      display: initial; }
    .sidebar nav ul {
      margin: 0;
      padding: 0; }
      .sidebar nav ul li {
        list-style-type: none; }
        .sidebar nav ul li a {
          display: block;
          padding: 1rem; }
          .sidebar nav ul li a:hover, .sidebar nav ul li a:active {
            background: #fbffff;
            color: #005050; }
  .sidebar .sidebar-footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: bold; }
    @media screen and (max-width: 800px) {
      .sidebar .sidebar-footer {
        display: none; } }

.main-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto; }
  @media screen and (max-width: 800px) {
    .main-wrapper {
      overflow-y: initial; } }

main {
  padding: 0 2rem;
  max-width: 48rem;
  margin: 0 auto; }
  @media screen and (max-width: 800px) {
    main {
      padding: 0 1rem; } }

article {
  margin-bottom: 3rem; }
  article h1 {
    margin-bottom: 0.5rem; }
  article time {
    display: block;
    margin-bottom: 0.25rem; }
  article .single-content {
    margin-top: 2rem; }

.content-tag, a.content-tag {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  background: #005050;
  letter-spacing: 0.02rem;
  color: #fff;
  padding: 0.25rem 0.4rem;
  font-size: 0.75rem; }

footer {
  font-size: 0.8rem;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.video-frame {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%; }
  .video-frame.aspect-ratio-4-3 {
    padding-bottom: 75%; }
  .video-frame iframe, .video-frame object, .video-frame embed {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
