body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  background-color: #d2d2d2;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  color: #0a0a0a; }

header {
  background-color: #f0f0f0;
  margin: 8px auto;
  font-size: 24px;
  max-width: 960px;
  font-weight: normal;
  box-shadow: 0px 2px 4px -1px #666;
  display: flex; }
  header div {
    flex: 1;
    display: inline-block; }
  header .name {
    margin: 16px;
    font-weight: 200; }
    header .name a {
      text-decoration: none;
      color: #0a0a0a; }
  header nav {
    height: 100%;
    font-size: 20px;
    line-height: 33px; }
    header nav a {
      padding: 16px;
      text-decoration: none;
      color: #0a0a0a;
      display: inline-block;
      flex: 1; }
      header nav a:hover, header nav a:focus {
        background: #002832;
        color: #f0f0f0; }

main {
  background-color: #f0f0f0;
  margin: 24px auto;
  max-width: 960px;
  box-shadow: 0px 2px 4px -1px #666; }
  main section .section-title {
    background-image: url("static/bg-pixers-3.png"); }
    main section .section-title h1 {
      margin: 0;
      display: inline-block;
      padding: 8px 16px;
      background-color: rgba(0, 40, 50, 0.5);
      color: #f0f0f0;
      font-weight: lighter;
      font-size: 12px;
      letter-spacing: 2px;
      position: relative; }
      main section .section-title h1:after {
        content: ' ';
        display: block;
        background: red;
        width: 16px;
        height: inherit;
        position: relative;
        top: 0;
        bottom: 0; }
  main section .section-content {
    padding: 16px; }
