:root {
  --color-light: rgb(254, 254, 254);
  --color-dark: rgb(34, 34, 51);
  --color-primary: rgb(51, 153, 153);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 32px;
  background: var(--color-light);
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(2) {
  background: var(--color-dark);
  color: var(--color-light);
}

.section-content {
  width: 100%;
  max-width: 600px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin-top: 0;
  padding-bottom: 24px;
  border-bottom: 8px solid var(--color-primary);
}

h1.no-border {
  padding-bottom: 0;
  margin-bottom: 16px;
  border: none;
}

img.me {
  border-radius: 50%;
  width: 160px;
  margin: 0 auto;
  display: block;
  margin-bottom: 16px;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
}

a:link,
a:visited {
  color: var(--color-dark);
}

a:hover,
a:focus {
  color: var(--color-primary);
}

.external-links {
  padding: 0;
  text-align: left;
  font-size: 1.4em;
  width: 240px;
  margin: 0 auto;
  line-height: 1.6em;
}

.external-links li {
  list-style-type: none;
}

.external-links li i {
  width: 32px;
  text-align: center;
  margin-right: 4px;
}

.external-links li a {
  display: block;
  width: 100%;
  padding: 8px;
  text-decoration: none;
  border-radius: 2px;
}

.external-links li a,
.external-links li a:visited {
  color: var(--color-dark);
}

.external-links li a:hover,
.external-links li a:focus {
  background: var(--color-primary);
  color: var(--color-light);
}

.external-links span {
  color: inherit;
}

.link-name {
  text-decoration: underline;
}

.recent-projects {
  font-size: 1.25em;
  line-height: 1.5em;
}

.recent-projects li {
  list-style-type: square;
  margin-bottom: 16px;
}
