	<div class="sidebar">
		<div class="sidebar-header">
			<a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Params.DisplayTitle }}</a>
			<div class="site-title-spacer"></div>
			<button class="mobile-menu-button">
				<div class="mobile-menu-button-line"></div>
				<div class="mobile-menu-button-line"></div>
				<div class="mobile-menu-button-line"></div>
			</button>
		</div>
		<nav>
			<ul>
				{{ range .Site.Menus.main.ByWeight }}
					<li>
						<a href="{{ .URL | relURL }}">{{ .Name }}</a>
					</li>
				{{ end }}
			</ul>
		</nav>
		<div class="sidebar-footer">:-)</div>
	</div>
