name: deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2.4.13
        with:
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          build_dir: public
          keep_history: true
          jekyll: false
